/* Footer */
footer {
    background-color: #1E2A47;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  /* Mobil uyumluluk */
  @media (max-width: 768px) {
    footer p {
      font-size: 0.9rem;
    }
  }
  